.details-container {
  font-size: 14px;
  text-align: center;
}

.details-container img {
  max-width: 300px;
  width: 100%;
  border-radius: 8px;
  margin: 1rem auto;
  display: block;
}

.details-container ul {
  padding: 0;
  list-style: none;
  text-align: left;
  margin: 1rem auto;
  max-width: 400px;
}

.details-container li {
  border-bottom: 1px solid #444;
  padding: 0.4rem 0;
}