:host {
  display: block;
  width: 80vw;
  max-width: 800px;
  margin: 1rem auto;
}

::ng-deep .p-datatable {
  background: #2c2c2c;
  border-radius: 20px;
  overflow: hidden;
  font-size: 14px;
}

::ng-deep .p-datatable-thead th {
  background: #1f1f1f;
  color: white;
  padding: 12px;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 1;
  user-select: none;
}

::ng-deep .p-datatable-tbody tr:nth-child(odd) {
  background: #272727;
}

::ng-deep .p-datatable-tbody tr:hover {
  background: #3a3a3a;
}

::ng-deep .p-datatable-tbody td {
  color: white;
  padding: 12px 8px;
}

::ng-deep .p-datatable-tbody img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  width: 48px;
}

strong {
  color: #ff4081;
  font-size: 16px;
  text-shadow: 0 0 10px rgba(255, 64, 129, 0.3);
  padding: 8px 16px;
  background: rgba(255, 64, 129, 0.1);
  border-radius: 4px;
  display: inline-block;
}

.search-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.search-container input {
  padding: 1em;
  border-radius: 10px;
  background: #222;
  color: #fff;
  border: 1px solid #444;
}

.search-container button, button {
  padding: 1em 0.8rem;
  border-radius: 10px;
  background: #F64281;
  color: white;
  border: none;
}

.random {
  display: block;
  margin: 1rem auto;
}

.categories-container {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 10px;
  background-color: #2c2c2c;
  color: white;
  border: 0;
  width: 100px;
  text-align: center;
}
