<div class="search-container">
    <input [(ngModel)]="letter" maxlength="1" placeholder="Letras desde A hasta Z" (keyup.enter)="searchByLetter()" />
    <button (click)="searchByLetter()">Buscar</button>
</div>

<select class="categories-container" [(ngModel)]="category" (change)="searchByCategory()">
    <option value="">Selecciona por categoría</option>
    @for (category of categories; track category) {
    <option [value]="category">{{ category }}</option>
    }
</select>

<button (click)="getRandomCocktail()" class="random">Cóctel aleatorio</button>



<p-table [value]="cocktails">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Alcohol</th>
            <th>Cantidad ingredientes</th>
            <th>Fecha de modificación</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cocktail>
        <tr>
            <td>
                <span (click)="openDialog(cocktail.idDrink)"
                    style="cursor: pointer; color: #42f5d7; text-decoration: underline;">
                    {{ cocktail.idDrink }}
                </span>
            </td>
            <td><img [src]="cocktail.strDrinkThumb || 'Without image'" width="50"></td>
            <td>{{ cocktail.strDrink }}</td>
            <td>{{ cocktail.strCategory }}</td>
            <td>{{ cocktail.strAlcoholic }}</td>
            <td>{{ cocktail.ingredients?.length || 0 }}</td>
            <td>{{ cocktail.dateModified | date }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td colspan="7">
                <strong>Cantidad de cócteles Alcohólicos: {{ alcoholicCocktailsCount }}</strong>
            </td>
        </tr>
    </ng-template>

</p-table>

<p-dialog [(visible)]="showDialog" [modal]="true" [style]="{ width: '90%', height: '90%' }">
    <app-cocktail-details *ngIf="selectedId" [id]="selectedId" />
</p-dialog>